openapi: 3.0.0
info:
  title: Sistema de Reserva de Salas Online
  description: API para gestão de reservas de salas em tempo real.
  version: "1.0.0"
  
servers:
  - url: https://api.exemplo.com
    description: Servidor de Produção
  - url: https://api.dev.exemplo.com
    description: Servidor de Desenvolvimento

paths:
  /users/register:
    post:
      summary: Registo de novo utilizador
      description: Regista um novo utilizador.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/userRegistration'
      responses:
        201:
          description: Utilizador criado com sucesso
          content:
            application/json:
              schema:
                type: object
                properties:
                  userId:
                    type: string
                  message:
                    type: string
                    example: "Utilizador criado com sucesso"
        400:
          description: Dados inválidos
        409:
          description: Este utilizador já esxiste
        429:
          description: Atingiu o limite de pedidos

  /users/Login:
    post:
      summary: Login do utilizador
      description: Autentica um utilizador existente.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/userLogin'
      responses:
        200:
          description: Login bem-sucedido
          content:
            application/json:
              schema:
                type: object
                properties:
                  token:
                    type: string
                  userId:
                    type: string
                  message:
                    type: string
                    example: "Login bem-sucedido"
        400:
          description: Dados inválidos
        401:
          description: Credenciais inválidas
        403:
          description: Utilizador ou password incorretas

  /users/passwordRecovery:
    post:
      summary: Recuperação de palavra-passe
      description: Envia um link de recuperação para o email do utilizador.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/passwordRecovery'
      responses:
        200:
          description: Link de recuperação enviado
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: "Link de recuperação enviado para o email"
        400:
          description: Dados inválidos

  
  /reservation/create:
    post:
      summary: Criação de reserva de sala
      description: Cria uma nova reserva de sala para o utilizador autenticado.
      parameters:
      - name: Authorization
        in: header
        required: true
        schema:
          type: string
        description: Token de autenticação do utilizador.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/createReservation'
      responses:
        201:
          description: Reserva criada com sucesso
          content:
            application/json:
              schema:
                type: object
                properties:
                  reservationId:
                    type: string
                  message:
                    type: string
                    example: "Reserva criada com sucesso"
        400:
          description: Dados inválidos
        401:
          description: Credenciais inválidas
        409:
          description: Esta reserva já esxiste
        429:
          description: Atingiu o limite de pedidos
  /reservation/view:
    get:
      summary: Consulta de reservas
      description: Permite visualizar reservas filtrando por sala e/ou data.
      parameters:
        - name: roomId
          in: query
          required: false
          schema:
            type: string
          description: ID da sala

        - name: startTime
          in: query
          required: false
          schema:
            type: string
            format: startTime
          description: Inicio da reserva
          
        - name: endTime
          in: query
          required: false
          schema:
            type: string
            format: endTime
          description: Fim da reserva

      responses:
        200:
          description: Lista de reservas
          content:
            application/json:
              schema:
                type: object
                properties:
                  reservations:
                    type: array
                    items:
                      $ref: '#/components/schemas/viewReservation'

  /reservation/{id}:
    put:
      summary: Edição de reserva de sala
      description: Permite editar uma reserva existente.
      parameters:
      - name: reservationId
        in: path
        required: true
        schema:
          type: string
        description: ID da reserva.
      - name: Authorization
        in: header
        required: true
        schema:
          type: string
        description: Token de autenticação do utilizador.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/editReservation'
      responses:
        200:
          description: Reserva atualizada com sucesso
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: "Reserva atualizada com sucesso"
        400:
          description: Dados inválidos
        401:
          description: Credenciais inválidas
        404:
          description: Sala não encontrada

    delete:
      summary: Cancelamento de reserva de sala
      description: Permite cancelar uma reserva existente.
      parameters:
      - name: reservationId
        in: path
        required: true
        schema:
          type: string
        description: ID da reserva.
      - name: Authorization
        in: header
        required: true
        schema:
          type: string
        description: Token de autenticação do utilizador.
      responses:
        200:
          description: Reserva cancelada com sucesso
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: "Reserva cancelada com sucesso"
        401:
          description: Credenciais inválidas
        404:
          description: Sala não encontrada

  /rooms/create:
    post:
      summary: Criação de uma nova sala
      description: Permite criar uma nova sala com informações como nome, capacidade e equipamentos.
      parameters:
        - name: Authorization
          in: header
          required: true
          schema:
            type: string
          description: Token de autenticação do administrador.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/roomInfo'
      responses:
        201:
          description: Sala criada com sucesso
          content:
            application/json:
              schema:
                type: object
                properties:
                  roomId:
                    type: string
                  message:
                    type: string
                    example: "Sala criada com sucesso"
        400:
          description: Dados inválidos
        401:
          description: Credenciais inválidas
        403:
          description: Não autorizado
        409:
          description: Esta sala já esxiste
        429:
          description: Atingiu o limite de pedidos

  /rooms/{id}:
    put:
      summary: Edição de sala
      description: Permite editar as informações de uma sala existente.
      parameters:
        - name: roomId
          in: path
          required: true
          schema:
            type: string
          description: ID da sala a ser editada.
        - name: Authorization
          in: header
          required: true
          schema:
            type: string
          description: Token de autenticação do administrador.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/roomInfo'
      responses:
        200:
          description: Sala atualizada com sucesso
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: "Sala atualizada com sucesso"
        400:
          description: Dados inválidos
        401:
          description: Credenciais inválidas
        403:
          description: Não autorizado
        404:
          description: Sala não encontrada

  /rooms/{id}}:
    delete:
      summary: Exclusão de sala
      description: Permite excluir uma sala existente.
      parameters:
        - name: roomId
          in: path
          required: true
          schema:
            type: string
          description: ID da sala a ser excluída.
        - name: Authorization
          in: header
          required: true
          schema:
            type: string
          description: Token de autenticação do administrador.
      responses:
        200:
          description: Sala excluída com sucesso
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: "Sala excluída com sucesso"
        401:
          description: Credenciais inválidas
        403:
          description: Não autorizado
        404:
          description: Sala não encontrada
    

components:
  schemas:
    userRegistration:
      type: object
      properties:
        username:
          type: string
        email:
          type: string
          format: email
        password:
          type: string
      required:
        - username
        - email
        - password

    userLogin:
      type: object
      properties:
        email:
          type: string
          format: email
        password:
          type: string
      required:
        - email
        - password

    passwordRecovery:
      type: object
      properties:
        email:
          type: string
          format: email
      required:
        - email

    createReservation:
      type: object
      properties:
        userId:
          type: string
        roomId:
          type: string
        startTime:
          type: string
          example: "10:00"
        endTime:
          type: string
          example: "11:00"
        description:
          type: string
      required:
        - userId
        - roomId
        - startTime
        - endTime
        - description

    viewReservation:
      type: object
      properties:
        userId:
          type: string
        roomId:
          type: string
        startTime:
          type: string
        endTime:
          type: string

    editReservation:
      type: object
      properties:
        reservationId:
          type: string
        newStartTime:
          type: string
        newEndTime:
          type: string
        newDescription:
          type: string

    roomInfo:
      type: object
      properties:
        name:
          type: string
          description: Nome da sala
        capacity:
          type: integer
          description: Capacidade da sala
        equipment:
          type: array
          items:
            type: string
          description: Lista de equipamentos disponíveis na sala
      required:
        - name
        - capacity